header {
  top: 25%;
  color: aquamarine;
  height: 150px;
}

body {
  color: white;
  overflow-x: hidden;
}

/*General Containers*/
.img {
  margin: auto;
  width: 25%;
  height: 25%;
}

.route-container {
  margin: auto;
  width: 105%;
  height: 25%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*landing stuff*/
.landing {
  background-color: PowderBlue;
  height: 100%;
}

/*Library stuff*/
.library {
  background-color: CornflowerBlue;
}
/*Album stuff*/
.album {
  background-color: CornflowerBlue;
}



.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 150px;
}

.centerContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.menu {
position: absolute;
top: 0%;
}

.App {
  background-color: aquamarine;
  margin: auto;
  height: 100%;
  width: 100%;
}

.point1 {
  margin: -20px;
  background-color: CornflowerBlue;
  height: 400px;
  text-align: center;
}

.point2 {
  text-align: center;
  height: 400px;
  background-color: white;
  color: CornflowerBlue;
}

.point-title {
  margin: -4px;
  font-size: 50px;
}

.point-discription {
  font-size: 25px;
}

.addspace {
  background-color: PowderBlue;
  color: black;
  height: 200px;
  text-align: center;
}

.hero-title {
  text-align: center;
  font-size: 20px;
}
